<div class="container">
    <h1>Adicionar Tarefa</h1>
    <form action="/adicionar" class="form-criar-tarefa" method="post">
        <div class="add-titulo">
            <label for="titulo">Titulo:</label>
            <input type="text" name="titulo" id="titulo" placeholder="Oque você vai fazer?">
        </div>
        <div class="add-descricao">
            <label for="descricao">Descrição:</label>
            <textarea name="descricao" id="descricao" cols="30" rows="10" placeholder="Descreva a tarefa..."></textarea>
        </div>
        <input type="submit" value="Adicionar Tarefa">
        <a href="/" class="voltar-btn">Voltar</a>
    </form>
</div>
